<ion-content [fullscreen]="true">

  <div class="container">
    <div id="map" #map></div>

    <ion-searchbar placeholder="Para onde?" (ionInput)="buscar($event)"></ion-searchbar>

    <ion-list class="ion-margin-horizontal" *ngIf="listaEndereco.length > 0">
      <ion-item *ngFor="let end of listaEndereco" lines="full" (click)="calcuRota(end)">
        <ion-label>
          {{end.description}}
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button (click)="back()" class="ion-margin-top" fill="clear">
      <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
    </ion-button>
  </div>
</ion-content>