<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Para onde?" (ionChange)="buscarEndereco($event)" color="dark"></ion-searchbar>
  <capacitor-google-map #map>

  </capacitor-google-map>


  <ion-list  class="ion-margin-horizontal" [hidden]="!listaEnderecos.length">
    <ion-item (click)="calcuRota(end)" *ngFor="let end of listaEnderecos" lines="full">
      <ion-label>
        {{end.description}}
      </ion-label>
    </ion-item>
  </ion-list>



  <button (click)="CreateMap()">Create Map</button>

</ion-content>
