<ion-content [fullscreen]="true">

  <capacitor-google-map #map></capacitor-google-map>

  <ion-searchbar placeholder="Para onde?" (ionChange)="buscarEndereco($event)"></ion-searchbar>

  <ion-button class="ion-margin-top" (click)="back()" fill="clear" *ngIf="destination">
    <ion-icon slot="icon-only" name="chevron-back-outline" color="dark"></ion-icon>
  </ion-button>

  <ion-list class="ion-margin-horizontal"  [hidden]="!listaEnderecos.length">
    <ion-item class="pesquisa" (click)="calcuRota(end)" *ngFor="let end of listaEnderecos" lines="full">
      <ion-label>
        {{end.description}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
